
# python (??? ... what is [cod]?)
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations (???)
*.mo

# Mr Developer (???)
.mr.developer.cfg
.project
.pydevproject
.notes
.vscode/

# Complexity (???)
output/*.html
output/*/index.html

# Sphinx
docs/_build
.webassets-cache

# Virtualenvs
env/

# npm
/node_modules/
npm-debug.log

# Configuration
.env

# Development database
*.db
.idea/

# JWT Generator (???)
/.keys/
package-lock.json

# Directories

# terraform data (replace scenarios/tmp)
scenarios/tmp/
*.tfstate
terraform*.zip*

# logs
logs/
log_analysis/

# ???
migrations/

# celery
celery.log
celerybeat-schedule

# other
.csv
.DS_Store
*.info
dump.rdb
assets/js/.Rhistory
assets/css/.Rhistory

.notes

# certificates
*.pem

#user logs
machine_learning/logs/*
machine_learning/eduhints/generated_hints/*

#scenarios under construction
scenarios/dev/construction/*
