
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.chatStu-frame{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
}
.chatStu-historyBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chatStu-chat-carpet{
  background-color: rgb(130, 154, 211);
  width: 99%;
  height: 98%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  left: 1%;
  top: 1%;
}
.chatStu-message-frame{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: paleturquoise;
  color: black;
}
.chatStu-message-item{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
}
.chatStu-panes-container-frame{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.chatStu-panes-container-carpet{
  min-width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  background-color: inherit;
}
.chatStu-input-frame{
  width: 100%;
  max-height: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sender-frame{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.sender-text{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.sender-button{
  width: 55px;
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
}
.connect-button{
  width: 55px;
}
.chatStu-input-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
