.bubble-frame{
    display: flex;
    border-radius: 4px;
    width: auto;
    max-width: 85%;
    min-width: 65%;
    height: auto;
    min-height: 100px;
    color: rgb(255, 170, 127);
    border: 1px solid rgb(234, 164, 95);
    background-color: rgba(255, 98, 0, 0.139);
}
.bframe-outgoing{
    color: aquamarine;
    border: 1px solid rgb(123, 151, 142);
    background-color: rgba(127, 255, 212, 0.139);
    margin-left: auto;
}
.bubble-carpet{
    display:flex;
    width: 100%;
}
.bubble-items-container{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.bubble-header{
    background-color: rgba(0, 0, 0, 0.203);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    min-height: 25px;
}
.bubble-header-item{
    display: flex;
}
.bubble-timestamp{
    background-color: rgba(255, 255, 255, 0.618);
    justify-content: center;
    color: rgb(0, 0, 0);
    min-height: 20px;
}
.bubble-msg-frame{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;
}
.bubble-msg-text-frame{
    display: flex;
    width: 100%;
    height: 100%;
}
.msg-row-frame {
    display: flex;
    width: 100%;
    min-height: 100px;  /* Adjust this value as necessary to fit content */
    align-items: stretch;  /* This will make children stretch to fill the container height */
    margin-bottom: 10px;
}
.bubble-stem {
    width: 0;
    border-style: solid;
    border-width: 0px 25px 25px 0; /* change stem size w/ border widths */
    border-color: transparent rgb(255, 149, 0) transparent transparent;
    transform: rotate(90deg); 
    margin-top: auto;
}

.bubble-stem-right {
    transform: rotate(180deg);
    border-color: transparent rgb(0, 187, 255) transparent transparent; /* Only the top-right border is colored */
}

.stembar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Aligns children at the top and bottom */
    flex: 1;  /* Takes up the full height of its parent */
    max-width: 25px;
}
.selection-box {
    display: flex;
    max-width: 25px;
    height: 60px;
    min-width: 25px;
    background-color: green;
}

