h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #ffd28e;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    color: #ffd28e;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #ffd28e;
}

h4, h5, h6 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    color: #ffd28e;
}

/* Paragraph style */
.markdownReading p {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 1em;
}

a {
    color: #0074d9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image style */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

blockquote {
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    color: #777;
    font-style: italic;
}

.markdownReading ul, ol {
    margin-left: 10px;
    padding-left: 0;
    list-style-type: disc;
    box-sizing: border-box;
}

.markdownReading li {
    font-family: Arial, sans-serif;
    margin-left: 2em;	
    margin-bottom: 0.5em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f0f0f0, #8c8b8b, #f0f0f0);
    margin: 20px 0;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.markdownReading th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.markdownReading th {
    background-color: #f4f4f4;
}

.markdown-content {
    font-family: Arial, sans-serif;
    color: #97f1ff;
    background-color: rgba(0, 0, 0, 0.523);
}

pre {
    background-color: #0000009e; 
    color: rgb(149, 255, 255);
    border: rgba(218, 165, 32, 0.609) 1px solid;
    border-radius: 3px;
    padding: 10px;
    background-color: #0000009e;

}

code {
    border: rgba(218, 165, 32, 0.424) 1px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit; 
    color: rgb(149, 255, 255);
    background-color: #0000009e;
    padding: 1.5px 3px;
    border-radius: 3px;
}

pre code {
    border: 0;
    background-color: transparent;
    padding: 0;
  }

.markdownReading em {
    font-style: italic;
}
