.table-frame {
    width: 100%;
    border: 1px solid  rgb(135, 96, 12);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.table-header {
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
    background-color: rgb(12, 20, 44);
    contain: content;
    border-radius: 8px 8px 0 0;
    cursor: default;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
}
.table-row {
    text-align: left;
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
}
.cursor-default{
    cursor: default;
}
.table-cell-item{
    display: flex;
    width: 100%;    
    min-height: 28px;
    max-height: 28px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(218, 165, 32, 0.247);
    border-top: 1px solid rgba(218, 165, 32, 0.247);
    box-sizing: border-box;
    contain: content;
    font-size: .88em;
}
.highlightable-cell{
    cursor: pointer;
}
.highlightable-cell:hover{
    color: rgb(255, 209, 172);
    background-color: rgba(110, 226, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.362);

}
.table-header-item{
    display: flex;
    width: 100%;    
    min-height: 28px;
    max-height: 28px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(218, 165, 32, 0.247);
    border-top: 1px solid rgba(218, 165, 32, 0.247);
    box-sizing: border-box;
    contain: content;
    font-size: .88em;
}
.nopad{
    padding: unset;
}
/* .table-cell-item:hover{
    color: rgb(255, 209, 172);
    background-color: rgba(110, 226, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.362);
} */
.table-userlist {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.table-useritem {
    display: flex;
    flex-direction: row;
}
.table-row:hover{
    background-color: rgba(255, 227, 156, 0.127);
}

.row-btns{
    display: flex;
    gap: 2px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 18px;
    font-size: x-small;
    font-weight: 600;
    letter-spacing: .8px ;
}

.control-panel{
    display: flex;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    border-right: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 60, 84);
    border-bottom: 1px solid black;
    cursor: default;
    gap: 2px;
    align-self: flex-end;
    justify-self: flex-end;
}