.table-frame {
    width: 100%;
    border: 1px solid  rgb(135, 96, 12);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
}

.table-header {
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
    background-color: rgb(12, 20, 44);
    contain: content;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
}
.table-row {
    text-align: left;
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
}
.table-cell-item{
    contain: content;
    width: 100%;
    overflow-x: auto;
    padding: 10px 10px;
    cursor: pointer;
}
.table-row:hover{
    background-color: rgba(250, 255, 173, 0.217);
    border-radius: 8px;
}
.col-xsmall{
    max-width: 40px;
    min-width: 40px;
}
.col-small{
    max-width: 80px;
    min-width: 80px;
}
.col-medium{
    max-width: 120px;
    min-width: 120px;
}
.col-large{
    max-width: 160px;
    min-width: 160px;
}
.col-xlarge {
    max-width: 200px;
    min-width: 200px;
}
.status-standby{
    color: orange;
}
.status-success{
    color: var(--success);
}
.status-neutral{
    color: var(--green-light);
}
.status-failure{
    color: red;
}
.status-disabled{
    color: grey;
}
.row-btns{
    display: flex;
    gap: 2px;
    overflow: hidden;
}
.row-btn{
    cursor: pointer;
    max-width: 80px;
}
.row-btn:hover{
    background: rgb(85, 85, 85);
    border-radius: 4px;
    color: white;
}