.table-frame {
    width: 100%;
    border: 1px solid  rgb(135, 96, 12);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
}

.table-header {
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
    background-color: rgb(12, 20, 44);
    contain: content;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.table-row {
    text-align: left;
    white-space: nowrap;
    display: flex;
    grid-auto-flow: column;
}
.table-cell-item{
    contain: content;
    width: 100%;
    /* overflow-x: auto; */
    padding: 6px 10px;

    cursor: pointer;
    border-right: 1px solid rgba(218, 165, 32, 0.247);
    border-top: 1px solid rgba(218, 165, 32, 0.247);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 4px;
}
.table-userlist {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.table-useritem {
    display: flex;
    flex-direction: row;
}
.table-useritem:hover{
    color: goldenrod;
}
.table-row:hover{
    background-color: rgba(250, 255, 173, 0.089);
    border-radius: 8px;
}
.col-xxsmall{
    max-width: 35px;
    min-width: 35px;
}
.col-xsmall{
    max-width: 30px;
    min-width: 30px;
}
.col-small{
    max-width: 60px;
    min-width: 60px;
}
.col-medium{
    max-width: 100px;
    min-width: 100px;
}
.col-large{
    max-width: 130px;
    min-width: 130px;
}
.col-xlarge {
    max-width: 150px;
    min-width: 160px;
}
.status-standby{
    color: orange;
}
.status-success{
    color: var(--success);
}
.status-neutral{
    color: var(--green-light);
}
.status-failure{
    color: red;
}
.status-disabled{
    color: grey;
}
.row-btns{
    display: flex;
    gap: 2px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    /* max-width: 80px; */
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 18px;
}
.red-btn{
    display: flex;

    color: rgb(97, 22, 22);
    background-color: rgb(238, 205, 205);
    border-radius: 4px;
    border: 1px solid rgb(97, 22, 22);;
}
.red-btn:hover{
    color: rgb(255, 181, 181);
    background-color: rgb(97, 22, 22);;
    border: 1px solid rgb(255, 181, 181);
}
.green-btn{
    display: flex;
    height: 100%;
    color: rgb(22, 97, 22);
    background-color: rgb(209, 246, 209);
    border-radius: 4px;
    border: 1px solid rgb(22, 97, 22);;
}
.green-btn:hover{
    color: rgb(181, 255, 181);
    background-color: rgb(22, 97, 22);;
    border: 1px solid rgb(181, 255, 181);
}
.grey-btn{
    display: flex;

    color: rgb(45, 45, 45);
    background-color: rgb(254, 254, 254);
    border-radius: 4px;
    border: 1px solid rgb(50, 50, 50);;
}
.grey-btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(61, 61, 61);;
    border: 1px solid rgb(251, 251, 251);
}

/* .row-btns:hover{
    background: rgb(85, 85, 85);
    border-radius: 4px;
    color: white;
} */
.control-panel{
    display: flex;
    width: 100%;
    max-width: none;
    border-right: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 60, 84);
    border-bottom: 1px solid black;
    cursor: default;
    gap: 2px;
}
