
.instructor-dash-frame{
    display: flex;
    border: 2px solid rgba(218, 32, 32, 0.453);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    border-radius: 15px;
    overflow: auto;
}
.instructor-dash-column-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    max-width: 80dvw;
    min-width: 60dvw;
    height: 91dvh;
    overflow-y: auto ;
    overflow-x: unset;
    box-sizing: border-box;
    padding: 5px;
    contain: content;
}
.instructor-dash-column-alt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    height: 91dvh;
    gap: 5px;
    overflow-y: auto;
    overflow-x: unset;
    box-sizing: border-box;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.instructor-dash-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(218, 165, 32, 0.49);
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(52, 44, 161, 0.189);
}

.row-aligned{
    display: flex;
    flex-direction: row;
}
.row-btn{
    display: flex;
    height: 100%;
    width: 100%;
}
.form-frame{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 3px;
    align-items: center;
    height: 100%;
}
.submit-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: small;
    cursor: pointer;
}
.create-dropdown{
    display: flex;
    height: 100%;
    width: 100%;
}
.btn-disabled{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: default;
    font-size: 11px;
}
.detail-frame{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    justify-items: flex-start;
    width: 100%;
    gap: 5px;
}
.instructions-bubble{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(218, 165, 32, 0.49);
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    gap: 8px;
    cursor: default;
    background-color: rgba(255, 255, 255, 0.052);
    font-size: .95em;
}
.instructions-header{
    align-items: center;
}
 
.create-frame{
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin: 8px;
    height: 48px;;
    border: 1px solid rgba(218, 165, 32, 0.471);
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(144, 2, 2, 0.114);
}
.create-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
}
.create-group-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
}
.create-input-fields{
    width: auto;
    min-width: 170px;
    height: 90%;
    border: 1px solid black;
    border-radius: 4px;
}
.fullwidth{
    width: auto;
}
.create-group-input{
    max-width: 250px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 4px;
}
.gen-test-users-frame{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: rgb(126, 217, 176);
    font-size: .88em;
}
.test-user-intbox{
    display: flex;
    flex-direction: row;

}
.box-and-text-container{
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-size: med;
}
