
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#entry-root{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
.er3chat-frame{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.er3chat-pane{
  background-color: rgb(211, 176, 130);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: grey;
}
.er3chat-chat-carpet{
  background-color: rgb(130, 154, 211);
  width: 99%;
  height: 98%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  left: 1%;
  top: 1%;
}
.er3chat-message-frame{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: paleturquoise;
}
.er3chat-message-item{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
}
.er3chat-panes-container-frame{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.er3chat-panes-container-carpet{
  min-width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  background-color: inherit;
}
.er3chat-input-frame{
  width: 100%;
  max-height: 40px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sender-frame{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.sender-text{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.sender-button{
  width: 55px;
  display: flex;
  height: 100%;
  text-align: center;
  justify-content: center;
}
.connect-button{
  width: 55px;
}
.er3chat-input-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.er3chat-instr-frame{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.er3chat-instr-carpet{
  width: 98%;
  height: 98%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  position: relative;
  left: 1%;
  top: 1%;
  border: 1px solid black;
  background-color: rgb(160, 85, 58);
}
.er3chat-instr-heading{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box; */
  border-bottom: 1px solid black;
  background-color: rgb(168, 228, 193);
  color: black;
}
.er3chat-instr-studentInspect{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  background-color: rgb(116, 159, 134);
  color: black;
}
.er3chat-instr-queue{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(80, 110, 92);
}