
.copyflex-inner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 192, 203, 0.153);
  }
  .copyflex-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    color: inherit;
}
.copyflex-fix{
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 3px;
    width: 100%;
    cursor: pointer;
    min-height: 28px;
    max-height: 28px;
    box-sizing: border-box;
}
.copyflex-fix:hover{
    color: var(--green-extreme);
    display: flex;
    gap: 3px;
}
.copyflex-frame:hover{
    color: rgb(80, 255, 162);
    background-color:rgba(80, 255, 162, 0.145);
    border-color: rgb(80, 255, 162);
}
.copyflex-frame{
    font-size: 1em;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    /* padding: 6px 10px ; */
    /* box-sizing: border-box; */
    min-height: 20px;
}
.sshcard-icon-label{
    color: inherit;
    justify-content: center;
    display: flex;
    position: relative;
}
.sshcard-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    position: relative;
    top: 0;
}
.green-checkmark-icon{
    color: var(--green-normal);
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 3px;
}
.green-checkmark-content{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    background-color: rgba(0, 121, 0, 0.074);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 183, 255, 0.342);;
  }
  .copyColumn-button-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 30px;
    background-color: rgba(129, 226, 255, 0.09);
    border-radius: 8px;
}