
.placard-frame{
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.placard-text{
    display: flex;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
}