
.hints-dashboard-ui {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    position: relative;
  }

  .pageTitle {
    display: flex;
    font-size: 48px;
  }
  
  .pageSubtitle {
    display: flex;
    font-size: 16px;
    margin-top: -15px;
  }
  
  .dropdowns-container {
    display: flex;
    gap: 20px; 
  }
  
  .actions-container {
    display: flex;
    gap: 10px; 
  }
  
  .hint-section {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .hint-section-buttons {
    display: flex;
    gap: 10px; 
  }
  
  .hint-textarea {
    display: flex;
    font-family: monospace;
    font-size: 16px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border: 2px solid #deb14f;
    border-radius: 5px;
    width: 95%;
    overflow-y: auto;
    resize: none;
  }

  .logs-textarea {
    display: flex;
    font-family: monospace;
    font-size: 12px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border: 1px solid #deb14f;
    border-radius: 5px;
    width: 95%;
    overflow-y: auto;
    overflow-x: auto;
    resize: none;
    margin: 5px;
    gap: 5px;
  }
  

  .dropdowns-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  .scenario-select{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .user-select {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .scenarioSelectLabel{
    display: flex;
    margin-bottom: 50px;
  }

  .userSelectLabel {
    display: flex;
    margin-bottom: 50px
  }
  
  .select-input {
    padding: 5px;
    cursor: pointer;
  }
  
  .request-hint-button {
    font-size: 16px;
    width: 100%;
    box-sizing: flex;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 10px;
  }

  .request-hint-button:hover {
    
    background-color: #deb14f; 
    color: #000000;
    transform: translate(3px, -3px);
  }

  .cancel-hint-button {
    font-size: 13px;
    margin-top: 15px;
    background-color: #c14c3e;
    color: #FFFFFF;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .cancel-hint-button:hover {
    background-color: red;
    cursor: pointer;
    transform: translate(3px, -3px);
  }


  .below-textbox-button {
    font-size: 13px;
    width: 50%; 
    border-radius: 10px;
    box-sizing: flex; 
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .expandable-logs-container {
    margin-bottom: 20px;
  }

  .student-logs-expand-button {
    font-size: 13px;
    width: 100%; 
    border-radius: 10px;
    box-sizing: flex; 
    cursor: pointer;
    transition: transform 0.3s ease;
    align-items: center; 
    justify-content: center; 
    margin-top: 10px;
  }

  .student-logs-expand-button.clicked {
    background-color: #deb14f;
  }

  .below-textbox-button:hover {
    background-color: #deb14f; 
    color: #000000;
    transform: translate(3px, -3px);
  }
  
  .loading-overlay div {
    display: flex;
    align-items: center;
  }
  
  .loading-overlay span {
    margin-right: 8px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }

  .checkbox label {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    max-width: 60%;
  }

  .loading-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 5px; 
    z-index: 1000;
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
    flex-direction: column;
}

  .textarea-label {
    display: flex;    
    margin-top: 5px;     
    margin-bottom: 5px;  
    font-size: 12px;   
  }

  .expandable-logs-container {
    margin-top: 5px;
  }



  .elapsed-time-counter {
      margin-top: 10px;
      font-size: 15px;
  }
    